<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Use Reserva</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="https://imagens.usereserva.com.br/rsv_assets/img/favicon.png" />
	<link rel="stylesheet" type="text/css" href="https://imagens.usereserva.com.br/rsv_assets/css/style.min.css">

	<link rel="stylesheet" href="css/main.css">

	<title>Reserva - Home</title>
</head>
<body class="rsv">
<header>
	<div id="header">
		

		<div class="promotion">
			<p class="discount">ganhe <span>10% de desconto</span> levando um boné</p>
			<div class="infos">
				
				<div class="gallery one_column">
					<ul>
						<li>
							<a href="javascript:void(0)">
								<span class="product_image">
									<img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto4_01.jpg" alt="gallery" />
								</span>
								<span class="name">
									<strong>bermuda meia malha listrado corrediço</strong>
								</span>
								<!--span class="price">R$ 429,00</span>
								<span class="parcel">3x R$ 143,00</span-->
								<span class="ofPer">de <del>R$ 100,00</del></span>
								<span class="ofPer">por <span class="red">R$ 90,00</span></span>
							</a>
							<div>
								<div class="select ico full">
									<a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/9f6832/9f6832" alt="cor" /> Marrom</a>
									<ul class="option full">
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/023355/023355" alt="cor" /> Azul Marinho</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c4c4c4/c4c4c4" alt="cor" /> Cinza</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/7b8ca4/7b8ca4" alt="cor" /> Azul Claro</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/f9f4a9/f9f4a9" alt="cor" /> Amarelo</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/b63136/b63136" alt="cor" /> Vermelho</a></li>
										<li class="active"><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/9f6832/9f6832" alt="cor" /> Marrom</a></li>
									</ul>
								</div>
								<div class="select size half">
									<a href="javascript:void(0)">Tamanho</a>
									<!-- <a href="javascript:void(0)"><span>G</span></a> -->
									<ul class="option half sku_options">
										<li class="sold_out"><a href="javascript:void(0)">P</a></li>
										<li><a href="javascript:void(0)">M</a></li>
										<li><a href="javascript:void(0)">G</a></li>
										<li><a href="javascript:void(0)">GG</a></li>
										<li><a href="javascript:void(0)">GGG</a></li>
									</ul>
								</div>
								<div class="quantity">
									<input type="text" maxlength="2" value="1" />
									<span class="more">+</span>
									<span class="less">&#8211;</span>
								</div>

								<a href="javascript:void(0)" class="add_to_cart">adicionar à sacola</a>
							</div>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span class="product_image">
									<img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto3_01.jpg" alt="gallery" />
								</span>
								<span class="name">
									<strong>bermuda meia malha listrado corrediço</strong>
								</span>
								<span class="price">R$ 429,00</span>
								<span class="parcel">3x R$ 143,00</span>
							</a>
							<div>
								<div class="select ico full">
									<a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/9f6832/9f6832" alt="cor" /> Marrom</a>
									<ul class="option full">
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/023355/023355" alt="cor" /> Azul Marinho</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c4c4c4/c4c4c4" alt="cor" /> Cinza</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/7b8ca4/7b8ca4" alt="cor" /> Azul Claro</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/f9f4a9/f9f4a9" alt="cor" /> Amarelo</a></li>
										<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/b63136/b63136" alt="cor" /> Vermelho</a></li>
										<li class="active"><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/9f6832/9f6832" alt="cor" /> Marrom</a></li>
									</ul>
								</div>
								<div class="select size half">
									<a href="javascript:void(0)">Tamanho</a>
									<!-- <a href="javascript:void(0)"><span>G</span></a> -->
									<ul class="option half sku_options">
										<li class="sold_out"><a href="javascript:void(0)">P</a></li>
										<li><a href="javascript:void(0)">M</a></li>
										<li><a href="javascript:void(0)">G</a></li>
										<li><a href="javascript:void(0)">GG</a></li>
										<li><a href="javascript:void(0)">GGG</a></li>
									</ul>
								</div>
								<div class="quantity">
									<input type="text" maxlength="2" value="1" />
									<span class="more">+</span>
									<span class="less">&#8211;</span>
								</div>

								<a href="javascript:void(0)" class="add_to_cart">adicionar à sacola</a>
							</div>
						</li>
					</ul>
				</div>
				<span class="prev">&laquo;</span>
				<span class="next">&raquo;</span>
			</div>
		</div>
		<div class="cart">
			<a href="javascript:void(0)" class="title close">Minha sacola<span>0</span></a>

			<div class="msg success cart_promo">
				<p class="promo_question">Esta é sua primeira compra? Ganhe 15% off! <a href="javascript:void(0)">Sim</a> <a href="javascript:void(0)">Não</a></p>
				<!-- <p class="promo_feedback">Desconto aplicado.</p> -->
				<a href="javascript:void(0)" class="close">fechar</a>
			</div>

			<div class="cart_full">
				<ul>
					<li class="out_of_stock">
						<a href="javascript:void(0)" class="thumb"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_checkout.jpg" alt="thumb_cart" /></a>
						<p class="product"><a href="javascript:void(0)" title="Camisa Tooper Sopa">Camisa Tooper Sopa</a></p>
						<p class="size">Vermelho M </p>
						<p class="infos">
							<span class="promo">desconto funcionário 40%</span>
							<!--span class="price">R$3.453,99</span-->
							<span class="price">
								<span class="ofPer">de <del>R$ 100,00</del></span>
								<span class="ofPer">por <span class="red">R$ 90,00</span></span>
							</span>
						</p>
						<p class="quantity">
							<input type="text" value="1" />
							<span class="more">+</span>
							<span class="less">&#8211;</span>
						</p>
						<a href="javascript:void(0)"></a>
					</li>
					<li>
						
						<div class="msg error">
							<p>Mensagem negativa. Lorem ispum dolor</p>
							<a href="javascript:void(0)" class="close">fechar</a>
						</div>
						<!-- <div class="msg warning">
							<p>Mensagem negativa. Lorem ispum dolor</p>
							<a href="javascript:void(0)" class="close">fechar</a>
						</div>
						<div class="msg success">
							<p>Mensagem negativa. Lorem ispum dolor</p>
							<a href="javascript:void(0)" class="close">fechar</a>
						</div>
						 -->
						<a href="javascript:void(0)" class="thumb"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_checkout.jpg" alt="thumb_cart" /></a>
						<p class="product"><a href="javascript:void(0)" title="Camisa Tooper Sopa">Camisa Tooper Sopa</a></p>
						<p class="size">Vermelho M </p>
						<p class="infos">
							<span class="promo">desconto funcionário 40%</span>
							<span class="delivery">25/03/15</span>
							<span class="stock">em estoque</span>
							<span class="price">R$3.453,99</span>
						</p>
						<p class="quantity">
							<input type="text" value="1" />
							<span class="more">+</span>
							<span class="less">&#8211;</span>
						</p>
						<a href="javascript:void(0)"></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="thumb"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_checkout.jpg" alt="thumb_cart" /></a>
						<p class="product"><a href="javascript:void(0)" title="Camisa Tooper Sopa">Camisa Tooper Sopa</a></p>
						<p class="size">Vermelho M </p>
						<p class="infos">
							<span class="delivery">25/03/15</span>
							<span class="stock">em estoque</span>
							<span class="price">R$3.453,99</span>
						</p>
						<p class="quantity">
							<input type="text" value="1" />
							<span class="more">+</span>
							<span class="less">&#8211;</span>
						</p>
						<a href="javascript:void(0)"></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="thumb"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_checkout.jpg" alt="thumb_cart" /></a>
						<p class="product"><a href="javascript:void(0)" title="Camisa Tooper Sopa">Camisa Tooper Sopa</a></p>
						<p class="size">Vermelho M </p>
						<p class="infos">
							<span class="delivery">25/03/15</span>
							<span class="stock">em estoque</span>
							<span class="price">R$3.453,99</span>
						</p>
						<p class="quantity">
							<input type="text" value="1" />
							<span class="more">+</span>
							<span class="less">&#8211;</span>
						</p>
						<a href="javascript:void(0)"></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="thumb"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_checkout.jpg" alt="thumb_cart" /></a>
						<p class="product"><a href="javascript:void(0)" title="Camisa Tooper Sopa">Camisa Tooper Sopa</a></p>
						<p class="size">Vermelho M </p>
						<p class="infos">
							<span class="delivery">25/03/15</span>
							<span class="stock">em estoque</span>
							<span class="price">R$3.453,99</span>
						</p>
						<p class="quantity">
							<input type="text" value="1" />
							<span class="more">+</span>
							<span class="less">&#8211;</span>
						</p>
						<a href="javascript:void(0)"></a>
					</li>
				</ul>
				<div class="cart_footer">
					<div>
						<div class="cart_gift">
							<input class="gift" type="checkbox" id="ckb_gift" value="Presente" />
							<label for="ckb_gift">Embrulhar grátis para presente</label>
						</div>
						<div class="cart_calculation">
							<p>
								<span class="calculation_title">Frete</span>
								<input type="text" placeholder="Calcular"/>
								<a href="javascript:void(0)">ok</a>
								<span class="cart_error">Use um CEP válido</span>
							</p>
							<p>
								<span class="calculation_title">Desconto</span>
								<input type="text" placeholder="Adicionar Cupom" />
								<a href="javascript:void(0)">ok</a>
								<span class="cart_error">Cupom inválido</span>
							</p>
							<p>
								<span class="calculation_title">Total</span>
								<span class="price">R$ 99.999,999<span>6x s/ juros de R$ 999,999</span></span>
							</p>
						</div>
						<!-- FRETE E CUPOM DE DESCONTO -->
						<!-- <div class="cart_calculation">
							<p>
								<span class="calculation_title">Frete</span>
								<span class="shippingValue">R$ 12,00</span>
								<a href="javascript:void(0)" class="delete">excluir</a>
							</p>
							<p>
								<span class="calculation_title">Desconto</span>
								<span class="promo">primeira compra</span>
								<a href="javascript:void(0)" class="delete">excluir</a>
							</p>
							<p>
								<span class="calculation_title">Total</span>
								<span class="price">R$ 99.999,999<span>6x s/ juros de R$ 999,999</span></span>
							</p>
						</div> -->
					</div>
					<div class="cart_action">
						<p>Para finalizar sua compra digite aqui seu e-mail!</p>
						<input type="text" placeholder="seu@email.com" />
						<a href="javascript:void(0)">Fechar seu pedido</a>
					</div>
					<!-- LOGADO -->
					<!-- <div class="cart_action logged">
						<p>
							Boa, Fulano.
							<span>Agora é só fechar o pedido.</span>
							<a href="javascript:void(0)">Não é você?</a>
							<a href="javascript:void(0)">SAIR</a>
						</p>
						<a href="javascript:void(0)">Fechar seu pedido</a>
					</div> -->
				</div>
			</div>
			<div class="gallery cart_empty">
				<p>sacola vazia da azar! vamos resolver isso?<span>talvez você goste dessas tshirts</span></p>
				<ul>
					<li>
						<a href="./product.html">
							<img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto1_01.jpg" alt="gallery" class="product_image" />
							<span class="name">
								<strong>cardigã premium quadrile</strong>
							</span>
							<span class="price">
								de: <del>R$ 429,00</del> por: <span>R$ 399,00</span>
							</span>
							<span class="parcel">3x R$ 143,00</span>
						</a>
						<div class="quick_buy">
							<div class="sku_options">
								<ul>
									<li class="active"><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/f9f4a9/f9f4a9" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c4c4c4/c4c4c4" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/7b8ca4/7b8ca4" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/afd29b/afd29b" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/000000/000000" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/707070/707070" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/b63136/b63136" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ef9454/ef9454" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ffffff/ffffff" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ab91c0/ab91c0" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c9a471/c9a471" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/001781/001781" alt="nome_cor" /></a></li>
								</ul>
							</div>
							<div class="sku_options">
								<ul>
									<li class="active"><a href="javascript:void(0)">p</a></li>
									<li><a href="javascript:void(0)">m</a></li>
									<li class="sold_out"><a href="javascript:void(0)">g</a></li>
									<li><a href="javascript:void(0)">gg</a></li>
									<li><a href="javascript:void(0)">ggg</a></li>
								</ul>
							</div>
							<a href="javascript:void(0)" class="add_to_cart">adicionar à sacola</a>
						</div>
					</li>
					<li>
						<a href="./product.html">
							<img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto1_01.jpg" alt="gallery" class="product_image" />
							<span class="name">
								<strong>cardigã premium quadrile</strong>
							</span>
							<span class="price">
								de: <del>R$ 429,00</del> por: <span>R$ 399,00</span>
							</span>
							<span class="parcel">3x R$ 143,00</span>
						</a>
						<div class="quick_buy">
							<div class="sku_options">
								<ul>
									<li class="active"><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/f9f4a9/f9f4a9" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c4c4c4/c4c4c4" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/7b8ca4/7b8ca4" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/afd29b/afd29b" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/000000/000000" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/707070/707070" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/b63136/b63136" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ef9454/ef9454" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ffffff/ffffff" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ab91c0/ab91c0" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c9a471/c9a471" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/001781/001781" alt="nome_cor" /></a></li>
								</ul>
							</div>
							<div class="sku_options">
								<ul>
									<li class="active"><a href="javascript:void(0)">p</a></li>
									<li><a href="javascript:void(0)">m</a></li>
									<li class="sold_out"><a href="javascript:void(0)">g</a></li>
									<li><a href="javascript:void(0)">gg</a></li>
									<li><a href="javascript:void(0)">ggg</a></li>
								</ul>
							</div>
							<a href="javascript:void(0)" class="add_to_cart">adicionar à sacola</a>
						</div>
					</li>
				</ul>
				<a href="javascript:void(0)" class="call_action">tshirts</a>
			</div>
		</div>
		<div class="global_bar">
			<ul class="brands">
				<li class="active"><a href="javascript:void(0)">Reserva</a></li>
				<li><a href="javascript:void(0)">Mini</a></li>
				<li><a href="javascript:void(0)">Feito por Você</a></li>
				<li><a href="javascript:void(0)">Eva</a></li>
				<li><a href="javascript:void(0)">Grupo Reserva</a></li>
			</ul>
			<ul class="shop">
				<li class="my_account">
					<a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_perfil.jpg" alt="nome" />fulano de tal</a>
					<div>
						<a href="account.html">minha conta</a>
						<a href="javascript:void(0)" class="logout">sair</a>
						<p>Status do seu último pedido</p>
						<ul>
							<li><a href="javascript:void(0)"><strong class="delivery">Saiu para entregar</strong><span class="id">n° 97897</span><span>em 24/07/15</span></a></li>
							<li><a href="javascript:void(0)"><strong class="delivery">Entregue a transportadora</strong><span class="id">n° 97897</span><span>em 24/07/15</span></a></li>
						</ul>
					</div>
				</li>
				<li><a href="account_empty.html">minha conta</a></li>
				<li class="my_cart"><a href="javascript:void(0)">minha sacola<span>12</span></a></li>
			</ul>
		</div>
		<div class="product_notification">
			<ul>
				<li>
					<img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_checkout.jpg" alt="thumb notification" />
					<p class="product">Camisa Tooper Sopa</p>
					<p class="tam">Vermelho M</p>
					<p class="quantity"><input type="text" value="1" /><span class="more">+</span><span class="less">&#8211;</span></p>
					<p><span class="price">R$ 999,99</span></p>
					<a href="javascript:void(0);"></a>
				</li>
				<li>
					<img src="https://imagens.usereserva.com.br/rsv_assets/img/_thumb_checkout.jpg" alt="thumb notification" />
					<p class="product">Camisa Tooper Sopa</p>
					<p class="tam">Vermelho M</p>
					<p class="quantity"><input type="text" value="1" /><span class="more">+</span><span class="less">&#8211;</span></p>
					<p><span class="price">R$ 999,99</span></p>
					<a href="javascript:void(0);"></a>
				</li>
			</ul>
			<a href="javascript:void(0)">ver minha sacola</a>
		</div>
		<div class="menu_bar">
			<div class="wrap">
				<!-- H1 apenas se for HOME, senão usar SPAN -->
				<h1 class="logo"><a href="home.html">reserva</a></h1>
				<ul class="menu">
					<li><a class="genericColor" href="javascript:void(0)">Roupas</a>
						<div>
							<div class="wrap">
								<ul>
									<li><a href="javascript:void(0)">T-shirts</a></li>
									<li><a href="javascript:void(0)">Polos</a></li>
									<li><a href="javascript:void(0)">Camisas</a></li>
									<li><a href="javascript:void(0)">Casacos</a></li>
									<li><a href="javascript:void(0)">Bermudas</a></li>
									<li><a href="javascript:void(0)">Shorts</a></li>
									<li><a href="javascript:void(0)">Calças</a></li>
								</ul>
								<div class="banner">
									<a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_banner_menu.jpg" alt="promocional" /></a>
								</div>
							</div>
						</div>
					</li>
					<li><a href="javascript:void(0)">Calçados</a>
						<div>
							<div class="wrap">
								<ul>
									<li><a href="javascript:void(0)">Tênis</a></li>
									<li><a href="javascript:void(0)">Sandálias</a></li>
								</ul>
								<div class="banner">
									<a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_banner_menu.jpg" alt="promocional" /></a>
								</div>
							</div>
						</div>
					</li>
					<li><a href="javascript:void(0)">Acessórios</a>
						<div>
							<div class="wrap">
								<div class="banner">
									<a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_banner_menu.jpg" alt="promocional" /></a>
								</div>
								<ul>
									<li><a href="javascript:void(0)">ACELERADOS</a></li>
									<li><a href="javascript:void(0)">SENSACIONALISTA</a></li>
									<li><a href="javascript:void(0)">ALÔ REGINA</a></li>
									<li><a href="javascript:void(0)">RESERVA UR</a></li>
									<li><a href="javascript:void(0)">MUSSUM</a></li>
									<li><a href="javascript:void(0)">CAYMMI</a></li>
									<li><a href="javascript:void(0)">UPDATE OR DIE</a></li>
									<li><a href="javascript:void(0)">DESIMPEDIDOS</a></li>
									<li><a href="javascript:void(0)">FONTE DA JUVENTUDE</a></li>
									<li><a href="javascript:void(0)">TU ÉS</a></li>
									<li><a href="javascript:void(0)">USE DEZ</a></li>
									<li><a href="javascript:void(0)">EU ME CHAMO ANTÔNIO</a></li>
									<li><a href="javascript:void(0)">THE SUMMER HUNTER</a></li>
									<li><a href="javascript:void(0)">CAMISETAS THIAGUINHO</a></li>
									<li><a href="javascript:void(0)">ENDEAVOR</a></li>
									<li><a href="javascript:void(0)">UM CARTÃO</a></li>
									<li><a href="javascript:void(0)">PÓ DE LUA</a></li>
									<li><a href="javascript:void(0)">FELIPE GUGA</a></li>
									<li><a href="javascript:void(0)">MARCUS MAJELLA</a></li>
									<li><a href="javascript:void(0)">BRUNO DE LUCA</a></li>
									<li><a href="javascript:void(0)">Oscar Niemeyer</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="javascript:void(0)">Marcas</a>
						<div>
							<div class="wrap">
								<div class="banner">
									<a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_banner_menu.jpg" alt="promocional" /></a>
								</div>
								<ul>
									<li><a href="javascript:void(0)">casio</a></li>
									<li><a href="javascript:void(0)">vans</a></li>
									<li><a href="javascript:void(0)">jansport</a></li>
									<li><a href="javascript:void(0)">vert</a></li>
									<li><a href="javascript:void(0)">nixon</a></li>
									<li><a href="javascript:void(0)">new balance</a></li>
									<li><a href="javascript:void(0)">meias seis</a></li>
									<li><a href="javascript:void(0)">Fred Perry</a></li>
									<li><a href="javascript:void(0)">Birkenstok</a></li>
									<li><a href="javascript:void(0)">escudero</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="javascript:void(0)">Coleções Especiais</a>
						<div>
							<div class="wrap">
								<div class="banner">
									<a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_banner_menu.jpg" alt="promocional" /></a>
								</div>
								<ul>
									<li><a href="javascript:void(0)">Vista sua causa</a></li>
									<li><a href="javascript:void(0)">Reserva pra calçar</a></li>
									<li><a href="javascript:void(0)">Pais reserva</a></li>
									<li><a href="javascript:void(0)">Reserva + tinder</a></li>
									<li><a href="javascript:void(0)">Reserva até 40%off</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="javascript:void(0)">Bazar</a>
						<div>
							<div class="wrap">
								<div class="banner">
									<a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_banner_menu.jpg" alt="promocional" /></a>
								</div>
								<ul>
									<li><a href="javascript:void(0)">Roupas</a></li>
									<li><a href="javascript:void(0)">Calçados</a></li>
									<li><a href="javascript:void(0)">Acessórios</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="javascript:void(0)" class="genericColor">Blog</a></li>
				</ul>
				<!--include src="notification.html"></include-->
				<a class="letter js-click" href="javascript:void(0)"><span>99</span></a>
				<a href="javascript:void(0)" class="search">&nbsp;</a>
				<form class="search_box">
					<input type="text" placeholder="Ex: Polo piquet" />
					<button>buscar</button>
				</form>
				<p class="my_cart"><a href="javascript:void(0)"><span>12</span></a></p>
				<div class="auto_suggest">
					<div class="wrap">
						<ul class="result">
							<li><a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto1_01.jpg" alt="">lorem ipsum dolor</a></li>
							<li><a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto2_01.jpg" alt="">lorem ipsum dolor</a></li>
							<li><a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto3_01.jpg" alt="">lorem ipsum dolor</a></li>
							<li><a href="javascript:void(0)"><img src="https://imagens.usereserva.com.br/rsv_assets/img/_produto4_01.jpg" alt="">lorem ipsum dolor</a></li>
							<li class="all_results"><a href="javascript:void(0)">veja todos os <span>36</span> resultados da busca</a></li>
						</ul>
						<ul class="filter">
							<li class="categories">Categorias:
								<ul>
									<li><a href="javascript:void(0)">Tênis</a></li>
									<li><a href="javascript:void(0)">Tênis</a></li>
									<li><a href="javascript:void(0)">Tênis</a></li>
									<li><a href="javascript:void(0)">Tênis</a></li>
								</ul>
							</li>
							<li class="sku_options">Cores:
								<ul>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/f9f4a9/f9f4a9" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c4c4c4/c4c4c4" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/7b8ca4/7b8ca4" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/afd29b/afd29b" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/000000/000000" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/707070/707070" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/b63136/b63136" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ef9454/ef9454" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ffffff/ffffff" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/ab91c0/ab91c0" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/c9a471/c9a471" alt="nome_cor" /></a></li>
									<li><a href="javascript:void(0)"><img src="http://dummyimage.com/22x22/001781/001781" alt="nome_cor" /></a></li>
								</ul>
							</li>
							<li class="sku_options">Tamanhos:
								<ul>
									<li><a href="javascript:void(0)">p</a></li>
									<li><a href="javascript:void(0)">m</a></li>
									<li class="sold_out"><a href="javascript:void(0)">g</a></li>
									<li><a href="javascript:void(0)">gg</a></li>
									<li><a href="javascript:void(0)">ggg</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	
</header>

<!-- PAGINA - START -->
<!--

//***
//	sessão com imagem do usuário
//***

<section class="mz-section-0">
	<div class="mz-containerout">
		<div class="mz-content-first">
			<img class="mz-img-header" src="_images/img-avatar.png" alt="">
			<div class="mz-text-1">
				<h1 class="mz-text-header">OLÁ<br>JOSÉ ALBERTO</h1>
				<p class="mz-first-paragraph">Montamos essa página com<br>sugestões de produtos baseados<br>em sua navegação.</p>
			</div>
		</div>
		<div class="mz-content-last">
			<p class="text-header-last">confira diversos produtos recomendados pra você.</p>
		</div>
	</div>	
</section> -->

<!--

//***
//	sessão com botão copy cupom
//***

<section class="mz-section-0 header-2 header-withButton">
	<div class="mz-containerout">
		<div class="mz-content-first">
			<div class="mz-text-1">
				<h2 class="mz-text-header">OLÁ<br>BEM-VINDO!</h2>
				<p class="mz-first-paragraph">Percebemos que ainda não comprou no nosso e-commerce.<br>Que tal um desconto de 10% na sua primeira compra?</p>

				<button class="cupom-button" data-clipboard-text="1A-VEZ-OP13">
				    <span class="cupom-cody">1A-VEZ-OP13</span>
					<p>Clique aqui para copiar</p>
				</button>
			</div>
		</div>
		<div class="mz-content-last">
			<p class="text-header-last">confira diversos produtos recomendados pra você.</p>
		</div>
	</div>	
</section> -->

<section id="hero" class="mz-section-0 header-2">
	<div class="mz-containerout">
		<div class="mz-content-first">
			<div class="mz-text-1">
				<h2 class="mz-text-header">OLÁ<br>{{ mail }}</h2>
				<p class="mz-first-paragraph">Montamos essa página com sugestões<br>de produtos baseados em sua navegação.</p>
			</div>
		</div>
		<div class="mz-content-last">
			<p class="text-header-last">confira diversos produtos recomendados pra você.</p>
		</div>
	</div>	
</section>

<section class="mz-section-1">
	<div class="mz-containerout mz-containerout--flex">
		<div class="mz-left-1">
			<span class="mz-icon-1p5p"></span>
			<p class="mz-text-1p5p">para cada peça vendida a reserva vibializa cinco pratos de comida para quem tem fome no brasil.</p>
		</div>
		<div class="mz-right-1">
			<span class="mz-tooltip mz-caminhao">
				<span class="mz-tooltip--on">
					<p>Frete grátis <br> acima de R$ 500</p>
				</span>
				<span class="mz-icon-caminhao"></span>
			</span>

			<span class="mz-tooltip mz-bike">
				<span class="mz-tooltip--on">
					<p>Entrega verde<br/>entre 1 a 3 dias úteis</p>
				</span>
				<span class="mz-icon-bike"></span>
			</span>

			<span class="mz-tooltip mz-reload">
				<span class="mz-tooltip--on">
					<p>Troca facilitada<br/>em qualquer loja</p>
				</span>
				<span class="mz-icon-reload"></span>
			</span>

			<span class="mz-tooltip mz-cubos">
				<span class="mz-tooltip--on">
					<p>Mais de 1500<br/>produtos exclusivos</p>
				</span>
				<span class="mz-icon-cubos"></span>
			</span>

			<span class="mz-tooltip mz-entrega">
				<span class="mz-tooltip--on">
					<p>Entrega<br/>internacional</p>
				</span>
				<span class="mz-icon-entrega"></span>
			</span>
		</div>	
	</div>
</section>

<section id="combinar" class="mz-section--slider__combinar">
	<div class="mz-slider--wrapper--title">
		<div class="mz-containerout mz-containerout--flex">
			<div class="mz-text-3-left">
				<h2>{{ sectionTitle }}</h2>
				<p>Baseado nos últimos<br>produtos que você comprou</p>
			</div>
			<div class="button-1-right">
				<button>
					<a :href="sectionUrl">Ver mais</a>
				</button>	
			</div>
		</div>
	</div>
	<div class="mz-slider--wrapper">
		<span class="mz-bgSlider-next mz-bgSlider-next--combinar swiper-button-next"></span>
    <span class="mz-bgSlider-prev mz-bgSlider-prev--combinar swiper-button-prev"></span>

		<div class="swiper-container swiper-container--combinar">
      	<div class="swiper-wrapper">
					
					<!-- NESSA PARTE DO VUE TEMOS UM PEQUENO DETALHE NOS ATRIBUTOS: v-for="data in section" -->
					<!-- MAIS DETALHES: https://vuejs.org/v2/guide/#Conditionals-and-Loops -->
      		<div class="swiper-slide" v-for="data in section">
    				<a :href="data.productUrl">
            	<div class="mz-slider--content">
            		<div class="mz-slider--content__image">
            			<img :src="data.produtoImage"/>
            		</div>
            		<div class="mz-slider--content__description">
            			<div class="mz-slider--content__description--top">
            				<h5>{{ data.productTitle }}</h5>
            			</div>
            			<div class="mz-slider--content__description--bottom">
            				<span class="mz-atom--price">
            					<span class="mz-atom--price__value">R$ {{ data.productPrice }}.00</span>
	            				<span class="mz-atom--price__pipe">|</span>
	            				<span class="mz-atom--price__desc">4x R$ {{ data.productPriceWithOption }}.00</span>
            				</span>
            			</div>
            		</div>
            	</div>
    				</a>
          </div>

      	</div>
    </div>
	</div>
</section>

<section id="ultimos" class="mz-section--slider__ultimos">
	<div class="mz-slider--wrapper--title">
		<div class="mz-containerout mz-containerout--flex">
			<div class="mz-text-3-left">
				<h2>{{ sectionTitle }}</h2>
				<p>Produtos que você<br>está de olho.</p>
			</div>
			<div class="button-1-right">
				<button>
					<a :href="sectionUrl">Ver mais</a>
				</button>	
			</div>
		</div>
	</div>
	<div class="mz-slider--wrapper">
		<span class="mz-bgSlider-next mz-bgSlider-next--ultimos swiper-button-next"></span>
	   <span class="mz-bgSlider-prev mz-bgSlider-prev--ultimos swiper-button-prev"></span>


		<div class="swiper-container swiper-container--ultimos">
        	<div class="swiper-wrapper">

        		<div class="swiper-slide" v-for="data in section">
            	<a :href="data.productUrl">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            			<img :src="data.produtoImage"/>
	            		</div>
	            		<div class="mz-slider--content__description">
	            			<div class="mz-slider--content__description--top">
	            				<h5>{{ data.productTitle }}</h5>
	            			</div>
	            			<div class="mz-slider--content__description--bottom">
	            				<span class="mz-atom--price">
	            					<span class="mz-atom--price__value">R$ {{ data.productPrice }}.00</span>
		            				<span class="mz-atom--price__pipe">|</span>
		            				<span class="mz-atom--price__desc">4x R$ {{ data.productPriceWithOption }}.00</span>
	            				</span>
	            			</div>
	            		</div>
	            	</div>
	    				</a>
            </div>

        	</div>
        </div>
	</div>
</section>

<section class="mz-section--slider__categorias">
	<div class="mz-slider--wrapper--title">
		<div class="mz-containerout mz-containerout--flex">
			<div class="mz-text-3-left">
				<h2>PRINCIPAIS CATEGORIAS</h2>	
				<p>Baseado nas suas<br>últimas interações.</p>
			</div>
		</div>
	</div>
	<div class="mz-slider--wrapper">

		<div class="swiper-container swiper-container--categorias">
        	<div class="swiper-wrapper">

        		<div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            			<a href="javascript:void(0);">
	            				<img class="mz-slider--content__image-0" src="_images/categorias/1-calcados.svg"/>
	            				<img class="mz-slider--content__image-1" src="_images/categorias/1-calcados-over.svg"/>
	            			</a>
	            		</div>
	            	</div>
	            </div>

	            <div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            			<a href="javascript:void(0);">
	            				<img class="mz-slider--content__image-0" src="_images/categorias/2-camisetas.svg"/>
	            				<img class="mz-slider--content__image-1" src="_images/categorias/2-camisetas-over.svg"/>
	            			</a>	
	            		</div>
	            	</div>
	            </div>

	            <div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            				<a href="javascript:void(0);">
	            					<img class="mz-slider--content__image-0" src="_images/categorias/3-polos.svg"/>
	            					<img class="mz-slider--content__image-1" src="_images/categorias/3-polos-over.svg"/>
	            				</a>
	            		</div>
	            	</div>
	            </div>

	            <div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            				<a href="javascript:void(0);">
	            					<img class="mz-slider--content__image-0" src="_images/categorias/4-camisas.svg"/>
	            					<img class="mz-slider--content__image-1" src="_images/categorias/4-camisas-over.svg"/>
	            				</a>
	            		</div>
	            	</div>
	            </div>

	            <div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            				<a href="javascript:void(0);">
	            					<img class="mz-slider--content__image-0" src="_images/categorias/5-calcas.svg"/>
	            					<img class="mz-slider--content__image-1" src="_images/categorias/5-calcas-over.svg"/>
	            				</a>
	            		</div>
	            	</div>
	            </div>

	            <div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            				<a href="javascript:void(0);">
	            					<img class="mz-slider--content__image-0" src="_images/categorias/6-casacos.svg"/>
	            					<img class="mz-slider--content__image-1" src="_images/categorias/6-casacos-over.svg"/>
	            				</a>
	            		</div>
	            		<div class="mz-slider--content__description">
	            			<div class="mz-slider--content__description--top">
	            			</div>
	            			<div class="mz-slider--content__description--bottom">          					
	            			</div>
	            		</div>
	            	</div>
	            </div>

	            <div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            				<a href="javascript:void(0);">
	            					<img class="mz-slider--content__image-0" src="_images/categorias/7-bermudas.svg"/>
	            					<img class="mz-slider--content__image-1" src="_images/categorias/7-bermudas-over.svg"/>
	            				</a>
	            		</div>
	            	</div>
	            </div>

	            <div class="swiper-slide">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            				<a href="javascript:void(0);">
	            					<img class="mz-slider--content__image-0" src="_images/categorias/8-acessorios.svg"/>
	            					<img class="mz-slider--content__image-1" src="_images/categorias/8-acessorios-over.svg"/>
	            				</a>
	            		</div>
	            	</div>
	            </div>

        	</div>
        </div>

	    <div class="swiper-button-next mz-bgSlider-next--categorias"></div>
	    <div class="swiper-button-prev mz-bgSlider-prev--categorias"></div>
	</div>
</section>

<section id="polos" class="mz-section--slider__polos">
	<div class="mz-slider--wrapper--title">
		<div class="mz-containerout mz-containerout--flex">
			<div class="mz-text-3-left">
				<h2>{{ sectionTitle }}</h2>
				<p>Você demonstrou interesse<br>nessa categoria.</p>
			</div>
			<div class="button-1-right">
				<button>
					<a :href="sectionUrl">Ver mais</a>
				</button>	
			</div>
		</div>
	</div>
	<div class="mz-slider--wrapper">

		<span class="mz-bgSlider-next mz-bgSlider-next--polos swiper-button-next"></span>
	  <span class="mz-bgSlider-prev mz-bgSlider-prev--polos swiper-button-prev"></span>


		<div class="swiper-container swiper-container--polos">
        	<div class="swiper-wrapper">

        		<div class="swiper-slide" v-for="data in section">
            	<a :href="data.productUrl">
	            	<div class="mz-slider--content">
	            		<div class="mz-slider--content__image">
	            			<img :src="data.produtoImage"/>
	            		</div>
	            		<div class="mz-slider--content__description">
	            			<div class="mz-slider--content__description--top">
	            				<h5>{{ data.productTitle }}</h5>
	            			</div>
	            			<div class="mz-slider--content__description--bottom">
	            				<span class="mz-atom--price">
	            					<span class="mz-atom--price__value">R$ {{ data.productPrice }}.00</span>
		            				<span class="mz-atom--price__pipe">|</span>
		            				<span class="mz-atom--price__desc">4x R$ {{ data.productPriceWithOption }}.00</span>
	            				</span>
	            			</div>
	            		</div>
	            	</div>
	    				</a>
            </div>

        	</div>
        </div>

	    
	</div>
</section>

<section id="camisetas" class="mz-section--slider__camisetas">
	<div class="mz-slider--wrapper--title">
		<div class="mz-containerout mz-containerout--flex">
			<div class="mz-text-3-left">
				<h2>{{ sectionTitle }}</h2>
				<p>Você demonstrou interesse<br>nessa categoria.</p>
			</div>
			<div class="button-1-right">
				<button>
					<a :href="sectionUrl">Ver mais</a>
				</button>	
			</div>
		</div>
	</div>

	<div class="mz-slider--wrapper">

		<span class="mz-bgSlider-next mz-bgSlider-next--camisetas swiper-button-next"></span>
	  <span class="mz-bgSlider-prev mz-bgSlider-prev--camisetas swiper-button-prev"></span>

		<div class="swiper-container swiper-container--camisetas">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="data in section">

					<a :href="data.productUrl">
						<div class="mz-slider--content">
							<div class="mz-slider--content__image">
								<img :src="data.produtoImage"/>
							</div>
							<div class="mz-slider--content__description">
								<div class="mz-slider--content__description--top">
									<h5>{{ data.productTitle }}</h5>
								</div>
								<div class="mz-slider--content__description--bottom">
									<span class="mz-atom--price">
									<span class="mz-atom--price__value">R$ {{ data.productPrice }}.00</span>
									<span class="mz-atom--price__pipe">|</span>
									<span class="mz-atom--price__desc">4x R$ {{ data.productPriceWithOption }}.00</span>
									</span>
								</div>
							</div>
						</div>
					</a>

				</div>
			</div>
		</div>

	</div>
</section>

<a href="https://www.usereserva.com/usereserva/c/faca-voce">
	<div class="mz-section--footer">
		<img src="_images/crie-sua-camiseta.gif" alt="crie sua camiseta">
	</div>
</a>

<!-- LIBS E FRAMEWORKS ---- START -->
<!-- <script src="js/clipboard.min.js"></script> --><!-- O SCRIPT CLIPBOARD SÓ ESTÁ SENDO USADO NA SECTION COM A CLASSE: header-withButton -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/vue.min.js"></script>
<!-- LIBS E FRAMEWORKS ---- END -->

<!-- APPLICATION CODE -->
<script src="js/main.js"></script>
</body>
</html>